<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cquential.Microsoft.ReportViewer.ProcessingObjectModel" version="10.0.40219.1" targetFramework="net45" />
  <package id="FontAwesome.Sharp" version="5.13.0" targetFramework="net45" />
  <package id="Guna.Charts.WinForms" version="1.0.2" targetFramework="net45" />
  <package id="Guna.UI2.WinForms" version="2.0.2.7" targetFramework="net45" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net45" />
</packages>